.spunta{background: grey; width: 15px; heigth:15px; color:grey; margin-right:20px;}
.spunta:hover{color:white; background:white;}
.nascosto{display:none;}
#cestino{border-left:20px; background: var(--sfondo); }
#cestino:hover{background: var(--testo);}
.tag{
  font-size: 12px;
  padding: 1px 5px;
  margin: 20px 20px 20px 0px;
  background: red;
  border-radius:8px;
  color:white;
  font-weight: 700;
}
.verifica{display:flex; justify-content: space-between; align-items: center; padding:10px 20px; background: var(--sfondo1); border-radius: 10px; width: 100%; max-width: 800px; }
.verifica h3{
  color: red;
}

.bo1{width:50vw; max-width: 1;}
.task{display:flex; justify-content: space-between; align-items: center;padding:10px 20px; background: var(--sfondo1);  border-radius: 10px; width: 100%; max-width: 800px; }
.task h3{color: lightgreen;}
.cancella{display:flex; justify-items: left;}


main {  display:flex; flex-direction:column; align-items:left; justify-content: top; gap:15px; overflow-y:auto;}

