/* diary.css - Stili Diario */

.dashboard-container { display:flex; flex-direction:column; gap:1rem; padding:1rem; max-width:600px; }
.dashboard-header { display:flex; align-items:center; justify-content:space-between; }

.small-btn { padding:5px; min-width:30px; font-size:1rem; }




/*COMPITI*/
#task-container{display:flex; flex-direction: column; gap: 15px; align-items: center; padding:0px;}
.isCompleted{color: grey; font-style: italic; !important}
.checkbox{background: var(--sfondo); color: var(--testo); margin: 20px;}

.nascosto{display:none;}
.cestino{border-left:20px; background: var(--sfondo); }
.cestino:hover{background: var(--testo);}
.tag{
  font-size: 12px;
  padding: 1px 5px;
  margin: 20px 20px 20px 0px;
  background: red;
  border-radius:8px;
  color:white;
  font-weight: 700;
}
.verifica{display:flex; justify-content: space-between; align-items: center; padding:10px 20px; background: var(--sfondo1); border-radius: 10px; width: 100%; max-width: 800px; }
.verifica h3{ color: red; }

.bo1{width:60vw; max-width: 1;}
.compito{display:flex; justify-content: space-between; align-items: center;padding:10px 20px; background: var(--sfondo1);  border-radius: 10px; width: 100%; max-width: 800px; }

.1 h3 {color: green;}
.2 h3 {color: yellow;}
.3 h3 {color: orange;}
