/*prototipo di task html*/

<div class="task">
     <div class="testo-task">
      <h3>Materia</h3>
      <p>Descrizione...</p>
     </div>
     <button id="cestino">
     <img id="cestino" src="assets/icons/canc.png">
  </button>
  </div>

/*css*/
.testo-task{display:flex; gap: 30px; align-items:center;}
.task{display:flex; justify-content: space-between; align-items:center;padding:10px 20px; background: var(--sfondo1); margin-top: 15px; margin-left: 10px; border-radius: 10px; width: 400px;}
.task h3{color: lightgreen;}
.cestino{display:flex; justify-items: left;}
