/* diary.css - Stili Diario */

.diary-header { display:flex; align-items:center; justify-content:space-between; gap: 10px; }

.day-display { display:flex; align-items:center; justify-content:center; gap:1rem; margin-bottom:1rem; line-height: 1;}
.day-text{ display: flex; flex-direction: column; gap: 0; align-items: left; }
#day-number { font-family:'Rubik Dirt', cursive; font-size:5rem; font-weight:400; letter-spacing: 1px; color:var(--accent-color,#4cafef); line-height:1; }
#weekday-name {font-family:'Rubik Dirt', cursive; font-size:2.5rem; font-weight:400; color:var(--accent-color,#4cafef); padding: 0; margin: 0;}
#month-year { font-size:1.2rem; font-weight:bold; opacity:0.85; padding: 0; margin: 0;}


.sunday{color: red !important;}
.holiday{color: orange !important;}
.today{color: lightgreen !important;}
.past{color: grey !important;}

.small-btn { padding:5px; min-width:30px; font-size:1rem; border-bottom: 1px solid var(--bordo-chiaro); border-left: 1px solid var(--bordo-chiaro); }



/* MODALE TASK no sta cancellarme*/
.hud.invisible{/* stato iniziale (nascosto) */
  opacity: 0; transform: scale(0.9); pointer-events: none;      /* non cliccabile quando chiuso */ transition: opacity 1s ease, transform 1s ease;}
.hud{ display: flex; background:var(--sfondo1); position:fixed; top: 15vh; bottom: 20vh; width: 80vw; max-width: 900px; border-radius:20px; 
     flex-direction:column; gap: 15px; align-items:center; padding:20px; opacity: 1; transform: scale(1); pointer-events: auto; transition: opacity 1s ease, transform 1s ease;}
#hud h3{color: var(--accent-color,#4cafef);}
label{color: white;}
#hud button{background: var(--sfondo); padding:10px; width: 48%; font-size:16px;}
#hud button:hover{background: var(--testo); color: var(--sfondo);}
#hud .buttons{display: flex; gap: 10px;   }
#hud .hud-divs{background: var(--sfondo); padding:10px; border-radius: 10px;  text-align:center;}
#hud label{ color: var(--testo);}
#hud select{background: var(--sfondo); color: var(--testo); border-radius: 5px; width: 140px; font-size: 14px;}
#hud textarea{background: var(--sfondo); color: var(--testo); border-radius: 5px; width: 200px; height: 80px;}

/*COMPITI*/
#task-container{display:flex; flex-direction: column; gap: 15px; align-items: center; padding:0px; }
.isCompleted{color: grey !important; font-style: italic !important;}
.checkbox{background: var(--sfondo); color: var(--testo); margin-right: 20px;}

.nascosto{display:none;}
.cestino{border-left:20px; background: var(--sfondo1);}
.cestino:hover{ cursor: pointer; background: var(--sfondo1);}
.cestino img{ width: 20px; height: auto;}
.tag{
  font-size: 12px;
  padding: 1px 5px;
  margin: 20px 20px 20px 0px;
  background: red;
  border-radius:8px;
  color:white;
  font-weight: 700;
}
.verifica{display:flex; justify-content: space-between; align-items: center; padding:10px 20px; background: var(--sfondo1); border-radius: 10px; width: 100%; max-width: 800px; 
         border-bottom: 1px solid var(--bordo-chiaro); border-left: 1px solid var(--bordo-chiaro); }
.verifica h3{ color: red; }
.verifica p{ font-family: Arial, sans-serif; }

.bo1{width:60vw; max-width: 1;}
.compito{display:flex; justify-content: space-between; align-items: center;padding:10px 20px; background: var(--sfondo1);  border-radius: 10px; width: 100%; max-width: 800px;
        border-bottom: 1px solid var(--bordo-chiaro); border-left: 1px solid var(--bordo-chiaro); }
.compito p{ font-family: Arial, sans-serif; }

.priority-1 h3{color: lightgreen;}
.priority-2 h3{color: #F7C500;}
.priority-3 h3{color: orange;}
.isCompleted h3{color: grey !important; }
