/* ===========================
   STILE ORARIO
   =========================== */

/*colori materie*/
:root{
  --italiano: lightblue;
  --matematica: skyblue;
  --fisica: lightgreen;
  --scienze: violet;
  --informatica: khaki;
  --motoria: aqua;
  --religione: lime;
  --storia: orange;
  --arte: coral;
  --inglese: red;
}


/* Contenitore tabella */
#main { padding:1rem; flex: 1; /* occupa tutto lo spazio residuo */
  background-color: var(--sfondo); display:flex; align-items:center; justify-content: center;}

#orario-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: var(--sfondo1);
    transition: background 0.3s ease;
    overflow: auto;
}

/* Tabella */
.orario-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

/* Intestazioni */
.orario-table th {
    color: var(--evidenziato);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid rgba(255,255,255,0.2);
}

/* Celle */
.orario-table td {
    border: 2px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 0.4rem;
    transition: background 0.2s ease;
}


/* Tema chiaro */
body.light-mode .orario-table th {
    border: 2px solid rgba(0,0,0,0.1);
}

body.light-mode .orario-table td {
    border: 2px solid rgba(0,0,0,0.1);
}



/*colori materie*/
.italiano{color: var(--italiano); }
.matematica{color: var(--matematica); }
.fisica{color: var(--fisica); }
.scienze{color: var(--scienze); }
.informatica{color: var(--informatica); }
.motoria{color: var(--motoria); }
.religione{color: var(--religione); }
.storia{color: var(--storia); }
.arte{color: var(--arte); }
.inglese{color: var(--inglese); }

.not-today {color: grey !important; /* forza il grigio per tutti i giorni diversi dal corrente */
